---
const {frontmatter} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content={frontmatter.author} />
        <meta name="description" content="{frontmatter.description" />
		<title>{frontmatter.title}</title>
		<link rel="stylesheet" href="/styles/w3.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	</head>
	<body>
		<main class="w3-main w3-container">
			<div class="w3-content">
                <slot/>
			</div>
		</main>
	</body>
</html>
